a {
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: underline;
    text-underline-offset: 4px;
}
.header {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    padding: 92px 24px 91px;
    align-items: center;    
    max-width: 1100px;
    margin: 0 auto;
    justify-content: space-between;
    
}

.header__menu {
    display: flex;
    justify-content: start;
    grid-column: 5 span;
}

.header__links-list {   
    display: flex;
    column-gap: 32px;
    list-style-type: circle;
}

.header__links-list-item_no-bullet{
    text-decoration: none;
    list-style-type: none;
    font-size: 18px;
    font-weight: 400;
    font-family: Raleway, sans-serif;
}

.header__logo{
    grid-column: 2 span;
    justify-self: center;   
}

.header__logo-img{
    width: 148px;
    height: 105px;
}

.address {
    width: 240px;
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
    grid-column: 5 span; 
    justify-self: end;    
}

.cover {
    position: relative;
    max-width: 1100px;
    min-height: 600px;
    margin: 0 auto;
    background-image: url("../images/cover.jpg");
    background-size: cover;
}   

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    top: 0;
    left: 0;
    background: rgba(0,0,0, 0.6);
    z-index: 2;    
}


.cover__title {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 165px 23px 135px;
    gap: 20px;
    color: #fff;
    font-size: 100px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 30px;
    text-transform: uppercase;
    z-index: 3;
  }

  .aligned-text {
    display: flex;
    font-style: normal;
    line-height: 115%;
    align-self: start;
  }
  
  .letter-spacing-extended {
    letter-spacing: 60px;
  }
  
  .aligned-text_center {
    display: flex;
    align-self: center; 
    line-height: 100%;    
  }
  
  .aligned-text_right {
    display: flex;
    align-self: end;
    line-height: 100%;
  }
  
  .no-letter-spacing {
    letter-spacing: 0;
  }

  .cover__description {
    position: relative;
    display: flex;
    justify-content: flex-end;
    gap: 48px;
    padding: 0 53px 50px;
    z-index: 3;
  }
  
  .cover__description-text {
    display: inline-block;
    width: 633px;
    height: 28px;
    margin-top: 14px;
    color: #fff;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 17px;
    margin-right: 30px;
  }
  
  .bet-button {
    border: 1px solid #fff;
    padding: 12px 32px;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    background: transparent;
    margin-right: -29px;
  }

  .lots {
    margin-top: 180px;
    margin-left: 24px;
    margin-right: 24px; 
  }

  .lots__header {    
    padding: 0 0 26px 27px;
    color: #000;    
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;   
  }

  
  .lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    list-style: none;
  }
  
  .lots__card-list-item {
    display: flex;
    width: 334px;
    min-height: 600px;
    flex-grow: 1;
  }
  
  .card-link {
    display: block;
    max-height: 100%;
    text-decoration: none;
  }
  
  .card {
    position: relative;
    display: flex;    
    flex-direction: column;
    justify-content: space-between;   
    padding: 50px 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100%;
  }

 
  .card__title {
    z-index: 3;
    color: #fff;
    font-size: 22px;
    line-height: 120%;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-transform: uppercase;    
  }
  
  .card__text {
    color: #fff;
    z-index: 3;
    font-size: 20px;
    line-height: 120%;  
  }
  
  .card_type_film {
    padding: 50px 40px 60px;
    z-index: 1;
    background-image: url("../images/card-lot-01.jpg");
  }
  
  .card_type_book {
    background-image: url("../images/card-lot-02.jpg");
  }
  
  .card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
  }
  
  .lots__look-more-link {
    display: block;
    padding: 30px 0 2px 26px;
    font-size: 20px;    
    text-decoration: underline;
    text-underline-offset: 5px;
  }

.about {
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 25px;
  margin-top: 179px;
  margin-left: 24px;
  margin-right: 24px;
}

.about__column { 
  padding-top: 100px;
}

.about__logo {
  display: flex;
  width: 240px;
  height: 240px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 auto; 
  background-color: #000;
}

.about__logo-image {
  display: flex;
  margin: 0 auto;
  height: 100%;
  width: 148px;
}

.about__title {  
  color: #000;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
} 

.about__text {
  display: flex;
  width: 597px;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  margin-top: 99px;
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 177px 24px 90px;
}

.footer__menu {
  text-align: center;
}

.footer__menu-list {
  text-align: center;
  gap: 33px;
  list-style: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
  
  
